.payd-info {
    padding: 80px 0;
}

.payd-info .container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    border-radius: 20px;
    padding: 30px;

}

.payd-info {
    flex: 1;
}
.payd-info p {
    font-family: 'Ysabeau Infant';
    font-size: 18px;
    line-height: 1.7;
    color: #555;
    margin-bottom: 25px;
}

.payd-info .up_text{
 font-family: Eugusto Free Personal Use;
    font-size: 36px;
    text-align: left;
    color: #333;
    margin: 0;
}